# Copy to .env next to docker-compose.yml
GATEWAY_ADVERTISE_HOST=192.168.0.230
HTTP_PORT=8080
GATEWAY_PORT=50051
PULSEGRID_VERSION=v2.3.3
PULSEGRID_IMAGE_OWNER=sokmeankao
# POSTGRES_PASSWORD=pulsegrid
